.about{
	background-color:#eaf2fd;	
}

.about__title{
	font-family:Raleway, Arial;
	font-weight:bold;
	font-size:1.5rem;
	padding-top:1rem;
}

.about__paragraph{
	padding-top:1rem
}


@media screen and (min-width:0){
	.about__container{
	width:100%;
	}
}

@media screen and (min-width:992px){
	.about__container{
	width:65%;
	}
}